/* for header and footer */
#bar{
    /* text algined to center */
    text-align: center;
    /* diff color than the rest of the page */
    color: white;
    background-color: gray;
    /* must have margin and padding */
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    clear: both;
}

body{
    background-color: blanchedalmond;
}

#main-nav{
    background-color: blue;
    color: white;
    text-align: center;
}

#main-nav ul{
    display: flex;
}

#main-nav li{
    display: incline-block;
    position: relative;
}

#main-nav li:hover{
    background-color: aquamarine;
    color: white;
}

#main-nav ul ul{
    display: none;
    position: absolute;
}

#main-nav li:hover ul{
    display: block;
    position: absolute;
    background-color: azure;
    float: left;
    padding: 0;
}

#main-nav ul li{
    list-style-type: none;
    text-align: center;
    padding: 10px;
}

